<br>
<br>
<div class="container">
  <div class="row">
    <% @authors.each do |author|%>
      <br>
      <%= author.full_name%>
      <%= link_to 'voir le profil', author_path(author.id), class:"btn btn-primary"%>
      <br>
    <% end %>
  </div>
</div>