<br>
<br>
<div class ="container">
<div class = "row">
    <div class="mb-3">
    <p> Vous voulez nous contacter ?<br>
    Notre email est le suivant : thegossip@gmail.com<br>
    Mais vous pouvez aussi nous laisser un message via notre formulaire
    </p>
    <div class="mb-3">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Votre adresse email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">En quoi pouvons vous aider?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
</div>