  <div class="container">
    
    <div class="row">
    <% @posts.each do |post|%>
          <div class="card">
            <h5 class="card-header"> <%= post.title %> </h5>
              <div class="card-body">
                <h5 class="card-title"> <%= post.content %></h5>
              <%= link_to 'voir le contenu', post_path(post.id), class:"btn btn-primary"%>
                 </div>
          </div>



      <%= post.title%>
    <% end %>
    </div>

  </div>