<br>
<br>
<div class="container">
  <div class="row">
    <%= @author.full_name%> <br>
    <%= link_to 'visiter le profil de notre auteur', author_path(@post.author_id)%><br>
    <h5 class="h5 mx-auto d-block"><%= @post.title%></h5>
    <%= @post.content%>
    <br>
  </div>
</div>